

**/migrations/0*
apps/*/migrations/0*

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__

*.pyc

__pycache__/
*.py[cod]

*.sqlite3
*.log

.env
helpers/services/google/client_secret.json
statics/*
staticfiles/*